
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  font-size: 75%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
  color:#17a1c8;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
}

/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 150%;
}

.footer-message {
  font-size: 90%;
}

/* HTML Elements
-------------------------------------------------------------- */
body.bd {
  color:#FFFFFF;
  background:#000000;
}
#pid-admin-build-block {
  color: #000;
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
  margin-top: 20px;
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
  background:#182732 url(../images/wp_header_bg.jpg) repeat-x scroll left top;
}

.header-group {
  background:#22313C url(../images/header_bg.jpg) repeat-x scroll left top;
}


/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu {
  float: right;
  width: 700px;
  margin-top: 30px;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu {
  float: right;
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited  {
  color: #17a1c8;
  padding: 5px 15px;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a.active,
.primary-menu-inner ul.sf-menu a:focus,
.primary-menu-inner ul.sf-menu li.sfHover a {
  color: #fff;
}

/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul {
  background: url(../images/ul_level2_bg.png) 0 0 repeat;
  width: 14em;
}
.primary-menu-inner .sf-menu li:hover ul,
.primary-menu-inner .sf-menu li.sfHover ul {
  top: 2.5em;
}


/* Style for hover of dropdown menu items (add background-color here) */
.primary-menu-inner ul.sf-menu li ul li:hover,
.primary-menu-inner ul.sf-menu li ul li.sfHover {
}
.primary-menu-inner ul.sf-menu ul a,
.primary-menu-inner ul.sf-menu ul a:visited,
.primary-menu-inner ul.sf-menu li.sfHover ul li a  {
  color: #fff;
  padding: 5px 10px;
  border-bottom: 1px solid #324A5D;
}
.primary-menu-inner ul.sf-menu li.sfHover ul li a:hover,
.primary-menu-inner ul.sf-menu li.sfHover ul li a:active,
.primary-menu-inner ul.sf-menu li.sfHover ul li a.active,
.primary-menu-inner ul.sf-menu li.sfHover ul li a:focus {
  color: #17a1c8;
  padding: 5px 10px;
  border-bottom: 1px solid #324A5D;
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  padding: 3px;
}

.footer-wrapper .block-menu {
  margin-bottom: 10px;
}
.footer-wrapper ul.menu {
  margin: 0;
  padding:20px 0 0 0;
  float: right;
}
.footer-wrapper ul.menu li {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.footer-wrapper ul.menu li a {
  margin: 0;
  padding: 0 10px;
}
.footer-wrapper ul.menu li a:hover,
.footer-wrapper ul.menu li a.active {
  color: #fff;
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
  background: #010508;
}

/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
  background: #16202B url(../images/wp_content_bg.jpg) repeat-x scroll left top;
}
.main {
  background: #1E2832 url(../images/content_bg.jpg) repeat-x scroll left top;
  padding-top: 20px;
}


/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-bottom-wrapper {
  background:#0F1922;
}

.postscript-bottom {
  background:#151E25;
  padding-top: 20px;
}

.footer-wrapper {
  background:#010508;
}

.st-copyright {
  float: right;
  padding-right: 10px;
}

/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
  color: #fff;
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}


/* Drupal Messages
/-------------------------------------------------------------- */
/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
  color: #fff;
  font-size: 130%;
}
.main h2.block-title {
  color:#17a1c8;
  padding-bottom: 5px;
  border-bottom: 1px solid #324A5D;
}

.block-box .inner {
  border: 1px solid #324A5D;
  background:#151e25;
  padding: 10px;
}
.block-box .inner h2.block-title {
  border:none;
  margin:0;
}

/* Block list */
.block-list ul,
.main ul.menu {
  margin:0;
  padding: 0;
}
.main .block-list h2.block-title,
.main .block-menu h2.block-title {
  margin:0;
}
.block-list ul li,
.main ul.menu li {
  list-style: none;
  margin:0;
  padding:0;
  border-bottom:1px solid #324A5D;
  padding: 5px 0;
}
.block-list ul li a,
.main ul.menu li a {
  color: #fff;
}
.block-list ul li li a,
.main ul.menu li li a {
  text-indent: 15px;
}
.block-list ul li li a,
.main ul.menu ul li li a {
  text-indent: 30px;
}

/* Login block */
.block-login #user-login-form {
  text-align: center;
}
.block-login .form-item {
  margin:0 0 10px 0;
  text-align: left;
}
.block-login .form-text{
  width: 96%;
  max-width: 100%;
}
.block-login #user-login-form .item-list {
  margin:5px 0 0 0;
}
.block-login #user-login-form .item-list ul {
  margin:0px 0 0px 0px;
  padding:0;
  text-align: left;
}
.block-login #user-login-form .item-list ul li {
  list-style: none;
  margin:0;
  padding:0;
}
/* End login block */

/* Block slideshow */
.block.block-slideshow {
  margin:0;
}
.block.block-slideshow .inner {
  margin:0;
}
.block-slideshow img {
  float: left;
}
.block-slideshow .views-field-body {
  background:transparent url(../images/slogan_text_bg.png) no-repeat scroll left top;
  font-family:"Lucida Bright";
  font-size:130%;
  font-style:italic;
  font-weight:bold;
  height:70px;
  left:0;
  padding:0px 0 0px 70px;
  position:absolute;
  top:110px;
  width:750px;
  z-index:600;
}

/* Recent news */
.main .field-field-image,
.main .views-field-field-image-fid {
  float: left;
  padding-right: 10px;
}
.block-latest-news .views-row,
.view-list-news .views-row {
  float:left;
  width: 100%;
  clear: left;
  padding-bottom: 15px;
}
.block-latest-news .views-field-name,
.block-latest-news .views-field-created,
.view-list-news .views-field-name,
.view-list-news .views-field-created  {
  float: left;
  padding-right: 10px;
}
.block-latest-news .views-field-field-image-fid,
.view-list-news .views-field-field-image-fid {
  padding-top: 10px;
  clear: left;
}
.block-latest-news .views-field-title a,
.view-list-news .views-field-title a {
  font-size: 130%;
  font-weight: bold;
}
.block-latest-news .views-field-field-introtext-value,
.view-list-news .views-field-field-introtext-value {
  margin-top: 0px;
}
.block-latest-news .views-field-view-node,
.view-list-news .views-field-view-node {
  float: right;
}

/* Block search */
.block-search .form-item {
  float: left;
  width: 150px;
  margin:0;
}
.block-search form input.form-submit {
  padding: 5px 10px;
  margin:0;
}
/* Block newsletter */
.block-simplenews form {
  text-align: center;
}
.block-simplenews p {
  margin-top: 0;
}
.block-simplenews .form-item {
  text-align: left;
}
.block-simplenews .form-item input.form-text {
  width: 96%;
  max-width: 100%;
}
.block-simplenews .form-radios {
  float: left;
  width: 100%;
  margin-top: 0;
}
.block-simplenews .form-radios .form-item {
  float: left;
  margin-right: 10px;
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0 2px 0 0;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background:#17A1C8 none repeat scroll 0 0;
  border:1px solid #324A5D;
  color:#FFFFFF;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 5px 15px;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #000;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border:1px solid #324A5D;
  color: #000;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border:1px solid #324A5D;
  color: #000;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border:1px solid #324A5D;
  color: #000;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
  float: right;
}

ul.pager a,
ul.pager li.pager-current {
  border: none;
  color: #17A1C8;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  border: none;
  color: #17A1C8;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  background:#17A1C8 none repeat scroll 0 0;
  border:1px solid #324A5D;
  color:#FFFFFF;
  padding:4px 20px;
}


/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Tables
-------------------------------------------------------------- */
table.no-border tbody,
table.no-border thead th,
table.no-border th,
table.no-border tr.even,
table.no-border tr.even td,
table.no-border tr.odd,
table.no-border tr.odd td {
  border: none;
}
/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}

/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
  padding:0;
  margin: 0 0 0 10px;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}
